#root {
  max-width: 1280px;
  margin: 0;
  padding: 2rem;
  text-align: center;
  /* padding: 0; */
  /* background-color: #747bff; */
}

.app {
  text-align: center;
  /* padding: 50px; */

  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 0;
  margin: 0;
}

.counter {
  font-size: 4rem;
  margin-bottom: 20px;
}

.energy-bar {
  width: 80%;
  height: 20px;
  background-color: #555;
  border-radius: 10px;
  margin-bottom: 20px;
  overflow: hidden;
}

.energy {
  height: 100%;
  background-color: #76c7c0;
  transition: width 0.3s ease;
}

.logo {
  cursor: pointer;
  transition: transform 0.3s ease;
  width: 100%;
  max-width: 500px;
  height: auto;
  margin-bottom: 20px;
}

.logo.pop {
  transform: scale(1.2);
}

.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
  background-color: #747bff;
  padding: 10px 0;
  box-shadow: 0 -2px 5px rgba(19, 19, 19, 0.3);
  border-radius: 10px;
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-size: 0.9rem;
  cursor: pointer;
}

.nav-item span {
  margin-top: 4px;
}

/* Media Queries for Mobile Responsiveness */
@media (max-width: 768px) {
  .counter {
    font-size: 3rem;
  }

  .logo {
    width: 80%;
  }

  .bottom-nav {
    padding: 8px 0;
  }

  .nav-item {
    font-size: 0.8rem;
  }
}

@media (max-width: 480px) {
  .counter {
    font-size: 2rem;
  }

  .logo {
    width: 100%;
  }

  .bottom-nav {
    padding: 6px 0;
  }

  .nav-item {
    font-size: 0.7rem;
    padding: 10px;
  }
}


.active {
  border: #a79107f6 solid 2px;
  /* padding: 5px; */
  border-radius: 10px;
  padding-inline: 20px;
}

.title {
  margin-right: 10px;
  color: rgb(205, 205, 203);
}